# Default storage file for addressbook : don't need to cleanup when running from IDE
storage.txt

# Compiled classfiles
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
AddressBook.iml
test/actual.txt
